body {
	letter-spacing: 0.1em;
}

.bk{
	background-color: #127bab;
    width: 100%;
    height: 200px;
    margin-top:40px;
}

.forheight{
	height: 586px;
}

.forcolor{
	background-color: #127bab;
    width: 100%;
    height: 20px;
}

.detail{
	max-width:900px;
	height:370px;
	margin:0px auto;
	background-color:white;
	padding:10px;
	padding-bottom:20px;
	border-radius: 11px;
}

#plot{
	max-width:300px;
	height:180px;
}

.poster{
	width:200px;
	height:300px;
}

.editcomment, .somecomments, .newcomment{
	max-width:900px;
	margin:0 auto;
}

#moviepic{
	float:left;
	margin-top:10px;
}

#movieinfo{
	float:left;
	margin-top:10px;
	margin-left:10px;
}

#moviename{
	font-family:"微软雅黑";
	font-size:36px;
}

#editicon{
	width:20px;
	height:20px;
	float:right;
}

#shortcomment, #deletecomment{
	color:black;
	text-decoration:none;
	float:right;
	background:white;
	cursor:pointer;
}

#shortcomment:hover, #deletecomment:hover{
	color:grey;
}

#my-comment{
	width: 570px;;
	height:100px;
	margin-top:10px;
	margin-bottom:10px;
	resize:none;
}

.newcommentsize{
	width:500px;
	height:160px;
	position: relative;
    left: 284px;
}

#comment-sub{
	float:right;
}

#movieplot{
	border:0 none;
	overflow:auto;
	width:500px;
	padding-bottom: 10px;
	resize:none;
	outline:none;
}

#movieinfo input{
	width:500px;
}

#comment-sub{
	height:25px;
	width:50px;
	border-radius:5px;
	background-color: #127bab;
	color:white;
	position: relative;
    left: 50px;
}

#usercomment{
	height:50px;
	width:960px;
	border-bottom:1px grey dotted;
}

#comtitle{
	font-size:25px;
	color:#127bab;
}

#deletecomment{
	float:right;
}

#usercomment{
	overflow:hidden;
}
.left {
  float: left;
  width: 250px;
  height: 500px;
}
.right {
  float: right;
  width: 636px;
}
.movie-pic {
    margin: 10px;
    background: #f9f9fa;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    box-shadow: 0 0 10px #999;
    padding: 14px;
    width: 203px;
}
.movie-name {
  margin-left: 10px;
  margin-top: 8px;
}
.movie-name input {
  font-weight: bolder;
}
.poster {
	border-radius: 6px;
    border: 1px solid #000;
}
.info-item {
	border-bottom: 1px dotted #999;
    position: relative;
    zoom: 1;
    color: #333;
    letter-spacing: 0.2em;
    padding: 9px 0 9px 95px;
    line-height: 1.5em;
    font-size: 15px;
}
.info-item strong {
    position: absolute;
    left: 0;
    top:11px;
    width: 95px;
    font-weight: bolder;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}
.cont {
	min-height: 400px;
	margin-top: 10px;
}
.short-content {
	border-bottom: none;
}
.detail {
	min-width: 500px;
}
.movie-form {
	margin-bottom: 10px;
}

